:root {
  --fw-1: 500;
  --fw-2: 700;
  --fw-3: 900;
  --ff-: "Red Hat Display", sans-serif;
  --fs-body: 1.6rem;
  --fs-heading-primary:2.6rem;
  --clr-bg: hsl(225, 100%, 94%);
  --clr-bg-neutral-light:hsl(225, 100%, 98%);
  --clr-white:hsl(0, 100%, 100%);
  --primary-color-brightBlue: hsl(245, 75%, 52%);
  --neutral-color-desaturatedBlue: hsl(224, 23%, 55%);
  --clr-txt: hsl(223, 47%, 23%);

}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;

  font-family: inherit;
}
html {
  font-size: 62.5%;
  font-family: var(--ff-);
}
img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  margin-inline: auto;
  padding: 0.8rem 2rem;
  border-radius: 0.7rem;
  outline: none;
  border: none;
  display: block;
}

/*****************************************************/
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-bg);
}

.order-card {
  border-radius: 1.5rem;
  overflow: hidden;
 max-width: 32rem;
  text-align: center;
  background-color:var(--clr-white);
}
.heading-primary {
  font-size:var(--fs-heading-primary);
  text-transform: capitalize;
  color:var(--clr-txt);
}
.txt {
  font-size:var(--fs-body);
  line-height:1.4;
    margin: 1em auto;
  max-width: 250px;
  color: var(--neutral-color-desaturatedBlue);
}
.txt--bold{
 
    font-weight:var(--fw-2);
}
.txt--cap{
    text-transform:capitalize;
}

.payment-plan{
    background-color:var(--clr-bg-neutral-light);
    margin:2rem;
    padding:0.2rem 0.4rem;

    border-radius:0.5rem;
}
.payment-plan .txt--bold{
    color:var(--clr-txt);
}





a:link,
a:visited {
  color: var(--primary-color-brightBlue);
  margin: 0 1em;
}
a:hover,
a:active {
  opacity: 0.7;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
i {
  color: rgb(105, 104, 104);
  background-color: lightgray;
  padding: 0.3em;
  border-radius: 50%;
}

.btn {
  font-size: 1.8rem;
  color: #fff;
  background-color: var(--primary-color-brightBlue);
}
.bnt:hover {
  background-color: var(--primary-color-brightBlue);
  opacity: 0.7;
  color: white;
}

.btn-secondary {
  color: var(--neutral-color-desaturatedBlue);
}

.btn-secondary:hover {
  color: black;
}
